*.o
*.a
*.pyc
.DS_Store
callgrind.*
__pycache__
build
*.so
*.cache
*.sslist
*.pyd
*.ipynb

libnano/cymem/*.c
libnano/datastructures/*.c
libnano/helpers/*.c

libnano/core/seqrecord/*.c
libnano/core/seqsearch/*.c
libnano/core/seqmetric/*.c
libnano/core/*.c
libnano/datastructures/seqrecord/*.c
libnano/dev/*.c

dist/
libnano.egg-info/

node_modules/
scratch_nocommit/